
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Gilroy;
}

input:focus-visible{
    border: none;
    outline: 0;
    outline-offset: 0;
}

html{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
    background: #3C3C3C;
}

.login{ 
    background: linear-gradient(180deg, #000 0%, rgba(60, 60, 60, 0.67) 98.91%) center;
    padding-top: 20.51vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login img{
    height: 38.46vw;
    width: 38.46vw;
}
.login h1{
    padding-top: 10.26vw;
    color: #FFF;
    font-size: 4.1vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.action{
    padding-top: 10.26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.1vw;
    width: 100%;
    max-width: 84.62vw;
}
.action input{
    border: none;
    border-radius: 7.69vw;
    background: #272727;
    padding: 4.87vw 0 4.87vw 6.15vw;
    width: 100%;
}
.action input, textarea::placeholder{
    color: rgba(255, 255, 255, 0.50);
    font-size: 4.1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}
.action button{
    outline: none;
    outline-offset: none;
    border: none;
    border-radius: 7.69vw;
    background: #4D4C4C;
    color: #fff;
    font-size: 4.1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    padding: 4.87vw 0;
    width: 100%;
    -webkit-transition-delay: .2s;
}

.action button:active{
    background: #272727;
    transition: ease-in, .2s;

}
.login a{
    margin-top: 4.1vw;
    color: rgba(255, 255, 255, 0.50);
    font-size: 4.1vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.login p{
    margin-top: 46.15vw;    
    text-align: center; 
    color: rgba(255, 255, 255, 0.50);   
    font-size: 2.56vw;  
    font-style: normal; 
    font-weight: 400;   
    line-height: normal;
    margin-bottom: 6.15vw;    
}
