*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Gilroy;
}

html{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
    background: #3C3C3C;
}

.container{
    margin: 0 auto;
    max-width: 84.62vw;
}

.timetable{
    background: linear-gradient(180deg, #000 0%, rgba(60, 60, 60, 0.67) 98.91%) center;
    padding-top: 20.51vw;
    height: 100vh;
}

.nav__panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__panel button{
    background: none;
    border: none;
}

.nav__panel button:first-of-type{
    height: 8.21vw;
    width: 8.21vw;
}

.nav__panel button:last-of-type{
    height:6.15vw;
    width: 6.15vw;
}

.nav__panel button img{
    width: 100%;
}

.nav__panel h1{
    font-size: 4.1vw;
    color: #fff;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.week__title{
    padding-top: 10.77vw;
}

h2{
    color: #FFF;
    font-size: 4.1vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.timetable__block{
    padding-top: 8.72vw;
    padding-bottom: 33vw;
    display: flex;
    flex-direction: column;
    gap: 6.15vw;
}

.timetable__item{
    display: flex;
    flex-direction: column;
    gap: 8.21vw;
    border-radius: 7.69vw;
    background: #272727;
    padding: 4.1vw 6.15vw 6.15vw;
}

.timetable__item h2{
    margin-bottom: -1.28vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timetable__item h2 label{
    z-index: 55;
    background: none;
    border: none;
    outline: 0;
    outline-offset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timetable__item h2 label img{
    rotate: -90deg;
    width: 5.1vw;
    height: 5.1vw;
}


.timetable__list{
    display: none;
    align-items: center;
    justify-content: space-between; 
    gap: 5.13vw;
}

.timetable__list h1{
    color: #FFF;
    font-size: 9.23vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 3.33vw;
}

.timetable__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 0.77vw;
}
.timetable__upper__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.timetable__lower__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabinet{
    color: #FFF;
    font-size: 3.08vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.teacher__name{
    color: rgba(255, 255, 255, 0.50);
    font-size: 3.59vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.lesson__time{
    color: rgba(255, 255, 255, 0.50);;
    font-size: 3.59vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
